.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    box-shadow: 5px 5px 20px #999;
    margin-bottom: 80px;
}

.nav {
    display: flex;
    gap: 15px;
}

.link {
    font-size: 20px;
    color: #333;
}

.active {
    font-size: 20px;
    color: rgb(204, 0, 61)
}

.wrap {
    display: flex;
    align-items: center;
    gap: 10px;
}

.name {
    font-size: 18px;
    line-height: 40px;
}